<div class="col">
    <div class="card" style="width: 18rem;">
        <img src="{{myProduct.thumbnail}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{myProduct.title}}</h5>
          <p class="card-text">{{myProduct.description}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{myProduct.price}}</li>
          <li class="list-group-item">{{myProduct.discountPercentage}}</li>
          <li class="list-group-item">{{myProduct.rating}}</li>
          <li class="list-group-item">{{myProduct.stock}}</li>
          <li class="list-group-item">{{myProduct.brand}}</li>
          <li class="list-group-item">{{myProduct.category}}</li>
          
        </ul>
      
    </div>
</div>

